/**
    hia公共样式
 */
.two-level-top {
  float: left;
  position: relative;
  height: 400px;
  width: 100%;
  background: #0d163d;
}
.contentDiv{
  width:100%;
  .showPageDiv{
    width:1170px;
    margin:20px auto ;
  }
}
