@import '~antd/lib/style/themes/default.less';

/* 头部 */
.header{
  width: 100%;
  height: 68px;
  background-image:url(../../assets/header-b.png);
  min-width: 1440px;
  position:relative;
}
.hiddened{top: -68px;}
.logo{
  height: 26px;
  margin: 20px 0 0 75px;
  float: left;
}
.logo .logoImg{
  float: left;
  width: 64px;
  height: 26px;
  position: relative;
  overflow:hidden;
}
.logo span{
  float: left;
  font-size:20px;
  color:#FFF;
  margin-left:10px;
  font-weight:bold;
}


/* 导航 */
.nav{
  height: 68px;
  margin: 0px 0 0 70px;
  float: left;
  position:relative;
}
.menuBg{
  position:absolute;
  top:68px;
  left:0;
  width:100%;
  z-index:1000;
  background:rgba(23,33,75,0.95);
  box-shadow:0 2px 4px 0 #1e2556;
  transition: all 0.3s ease 0s;
}
.menu{
  height:66px;
  line-height:66px;
  border-bottom:0;
  background:transparent;
  position:relative;
}
.linkColor{
  color:#FFF !important;
}
.dot{
  position:absolute;
  top:6px;
  left:0;
  width:11px;
  height:11px;
  float: left;
  border-radius:100%;
  transition: all 0.3s ease 0s;
  display:none;
}
.dot1{
  background:#4e92f5;
}
.dot2{
  background:#f5b323;
}
.dot3{
  background:#eb2875;
}
.dot4{
  background:#fca403;
}
.dot5{
  background:#b8e986;
}
/*antd menu样式修改*/
body :global{
  .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom:2px solid #FFF;
  }
  .ant-menu-submenu > .ant-menu{
    background:transparent;
    box-shadow:none;
    border-radius:0;
    transition: all 0.3s ease 0s;
    padding:10px 0;
  }
  .ant-menu-submenu-popup{
    top:68px !important;
    position: fixed;
    z-index: 99999;
  }
  .ant-menu-vertical > .ant-menu-item{
    height:24px;
    line-height:24px;
  }
  .ant-menu-item > a{
    text-indent:4px;
  }
  .ant-menu-item:hover > a > i{
    display:inline-block;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:transparent;
    > a > i{
      display:inline-block;
    }
  }
}


/* 登录 */
.indicator{
  height: 66px;
  padding: 0px 22px 0 0px;
  float: right;
  color:#FFF;
}
.indicator i{
  float: left;
}
.indicator a{
  font-size:14px;
  color:#ffffff;
}
.sign{
  height: 14px;
  padding: 26px 16px 0 0px;
  line-height: 14px;
  float: left;
}
.sign a{
  padding: 0 14px;
  height: 14px;
    float: left;
}
.indicator a:hover{
  color: #4A90E2;
}
.register{
  border-left: 1px solid #FFFFFF;

}
.console{
  height: 16px;
  line-height: 16px;
  padding: 26px 0px 0 0px;
  float: left;
}
.console a{
  padding: 0 14px;
  height: 14px;
  float: left;
}
